* {
    padding: 0;
    margin: 0;
}



img {
    max-width: 100%;
}

.header__navi {
    background-image: url(img/headerbcg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 141px 149px 28px;
}

.top__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.top__label {
    color: #FFF;
    font-family: Roboto;
    font-size: 23.961px;
    font-style: normal;
    font-weight: 900;
    line-height: 80.5%;
    text-transform: uppercase;
    width: 166px;
    padding-right: 78px;
}

.top__icon {
    display: flex;
    align-items: center;
}

.top__btn {
    display: flex;
    gap: 60px;

}

.nav__link {
    text-decoration: none;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.top__search {
    display: flex;
    gap: 40px;
}

.top__items {
    display: flex;
}

.top__col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 71px;
    padding-right: 204px;
}

.red__col {
    border: 1px solid #DD2242;
    width: 4px;
    height: 100px;
    background: #DD2242;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.white__col {
    border: 1px solid rgba(255, 255, 255, 1);
    width: 2px;
    height: 296px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
}

.top__num {
    padding-top: 20px;
}

.top__name {
    color: #FFF;
    font-family: Roboto;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: 130px;
    text-transform: uppercase;
    width: 627px;
    padding-bottom: 47px;
}

.top__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    border: 0 solid  rgba(221, 34, 66, 1);
    border-radius: 211px;
    background: var(--Main-Red, #DD2242);
    padding: 20px 60px;
}

.top__link:hover {
    color: black;
    background-color: #FFF;
    transition: 0.8s;
}

.top__columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 204px;
    align-items: flex-end;
}

.top__img-col {
    height: 131px;
    padding-right: 262px;
    padding-bottom: 44px;
}



.columns__column {
    display: grid;
    grid-template-columns: repeat(3, 210px);
    gap: 198px;
    padding-left: 71px;
    padding-right: 128px;
    height: 210px;
    border: 1px solid #000;
    opacity: 0.6;
    background: #000;
}

.colunm__item {
    padding: 41px 0 49px 0;
    
}


.column__num {
    color: #DD2242;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.column__name {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 26.409px;
    font-style: normal;
    font-weight: 700;
    line-height: 41.081px; /* 155.556% */
}

.column__text {
    color: #939393;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
}

.top__img {
    position: relative;
    
}

.top__img-play {
    max-height: 254px;
}

.top__link-play {
    position: absolute;
    top: 80px;
    left: 186px;
    border: 1px solid #fff;
    border-radius: 50px;
    background: rgba(255, 255, 255, 1);
    padding: 18px 17px;
    display: none;
}

.top__img:hover .top__link-play {
    display: flex;
}



.center__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 95px;
    padding-top: 207px;
    background: url(img/RoadOpacity.png),
    linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0.00) 100%),
    var(--Blue---Background, #010A20); 
    background-repeat: no-repeat;
    background-size: cover; 

}

.center__info-revers {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 95px;
    background: url(img/SeaOpacity.png),
    linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0.00) 100%),
    var(--Blue---Background, #010A20);
    padding-bottom: 305px;
    background-repeat: no-repeat;
    background-size: cover; 
}


.center__col {
    padding-left: 130px;
}

.center__col-reverse {
    padding-right: 124px;
}


.center__name {
    color: var(--White, #FFF);
    font-family: 'DM Sans';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 119.048% */
    width: 479px;
}

.center__text {
    color: var(--Text-Lighten, #E0E0E0);
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    width: 407px;
    padding: 20px 0 48px 0;
}

.center__link {
    text-decoration: none;
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    border: 0 solid rgba(221, 34, 66, 1);
    background-color: rgba(221, 34, 66, 1);
    border-radius: 50px;
    padding: 16px 40px;
}

.center__link:hover {
    color: black;
    background-color: #FFF;
    transition: 0.8s;
}



.top__slide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/vool.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding-bottom: 886px;
}

.slide__img {
    display: flex;
    gap: 30px;
}

.slide__name {
    color: var(--Blue---Background, #010A20);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 75px */
    padding-top: 127px;
    padding-bottom: 44px;
}

.slide__item button {
    border: 0;
    background: transparent;
}

.btn__left {
    padding-right: 33px;
}
.btn__rigth {
    padding-left: 33px;
}

.slide__numbers {
    background-color: rgba(2, 12, 33, 1);
    opacity: 0.8;
    width: 100%;
}

.numbers__name {
    color: #FFF;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.numbers__text {
    color: var(--Text-Lighten, #E0E0E0);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    padding-bottom: 39px;
    padding-top: 36px;
    width: 484px;
    margin: auto;
    
}

.slide__img img, button{
    cursor: pointer;
}

.slide__title {
    padding-top: 201px;
}

.slide__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 127px;
    padding-bottom: 224px;
}

.columns__numb {
    color: #DD2242;
    text-align: center;
    font-family:' DM Sans';
    font-size: 42.137px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.16px;
    
}

.columns__numb-text {
    color: var(--Text-Lighten, #E0E0E0);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 340px;
}

.aside__info {
    padding-top: 248px;
    padding-bottom: 274px;
    background: url(img/topleft.png) no-repeat,
    url(img/bottomrighte.png) no-repeat;
}

.aside__title {
    color: #000;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 119.048% */
    width: 614px;
    margin: auto;
}

.aside__subtitle {
    color: var(--Paragraph-Dark, #6F7787);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    width: 470px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 54px;
}

.aside__btn {
    display: flex;
    justify-content: center;
}

.aside__link {
    text-decoration: none;
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    border: 0 solid rgba(221, 34, 66, 1);
    background-color: rgba(221, 34, 66, 1);
    border-radius: 50px;
    padding: 16px 40px;
    
}



.aside__link:hover {
    color: black;
    font-weight: 800;
    background-color: rgb(129, 204, 129);
    transition:  0.8s;
    
}

.video__info {
    background-image: url(img/videoBCg.png);
    background-size: cover;
}

.video__title {
    color: var(--colors-white, #FFF);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 119.048% */
    padding-top: 141px;
    padding-bottom: 67px;
    width: 1056px;
    margin: auto;
}

.video__one {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 125px;
}

.video__link {
    position: absolute;
    top: 290px;
    border: 1px solid rgba(233, 58, 125, 1);
    background-color: rgba(233, 58, 125, 1);
    border-radius: 100px;
    padding: 38px 42px;
}

.video__columns {
    display: flex;
    justify-content: center;
    gap: 75px;
    padding-bottom: 255px;
}

.video__columns-row {
    display: flex;
    gap: 42px;
    position: relative;
}

.video__columns-name {
    color: var(--colors-white, #FFF);
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    
}

.video__columns-text {
    color: var(--colors-white, #FFF);
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    width: 334px;
}

.video__columns-link {
    position: absolute;
    top: 60px;
    left: 105px;
    display: none;
}

.video__columns-row:hover .video__img {
    filter: brightness(0.5);
}
.video__columns-row:hover .video__columns-link {
    display: flex;
}

.gallery__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 229px;
}

.gallery__title {
    color: var(--Blue---Background, #010A20);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 90px */
    padding-top: 177px;
}

.gallery__subtitle {
    color: var(--Paragraph-Dark, #6F7787);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.18px;
    padding-top: 41px;
    padding-bottom: 71px;
    width: 511px;
}

.gallery__img {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
}

.gallery__photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery__photo img {
    cursor: pointer;
}

.footer__item {
    background-color: rgba(1, 10, 32, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 46px;
}

.footer__icon {
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 124px;
}
    
.footer__name {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 23.961px;
    font-style: normal;
    font-weight: 900;
    line-height: 90.5%;
    letter-spacing: 0.315px;
    text-transform: uppercase;
    width: 128px;
}

.footer__red    {
    color: #DD2242;
}

.footer__btn {
    display: flex;
    gap: 35px;
}

.footer__link {
    text-decoration: none;
    color: var(--main-white, #FFF);
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
}

.footer__text {
    color: var(--main-white, #FFF);
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    padding-left: 28px;
    padding-right: 153px;
}

.footer__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__logo a  {
    padding-right: 22px;
}
